# RStudio project files
*.Rproj
.Rproj.user/

# Data from the MiDAS database
data/MIDAS_53_taxa.txt

# Output
output/figures_main/*.pdf
output/figures_supplementary/*.pdf

# HTML
scripts/20250807_rethink_global_survey_article_plots_cleaned.html